<?xml version="1.0" encoding="UTF-8"?>

<phpunit
  bootstrap="vendor/autoload.php"
  backupGlobals="false"
  backupStaticAttributes="false"
  colors="true"
  verbose="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
>
  <testsuites>
    <testsuite name="unit">
      <directory>Tests/Unit</directory>
    </testsuite>

    <testsuite name="integration">
      <directory>Tests/Integration</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">Source/</directory>
    </whitelist>
  </filter>

  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="MAIL_DRIVER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>

    <env name="DB_DRIVER" value="mysql"/>
    <env name="DB_HOST" value="localhost"/>
    <env name="DB_PORT" value="3306"/>
    <env name="DB_DATABASE" value="laravel"/>
    <env name="DB_USERNAME" value="root"/>
    <env name="DB_PASSWORD" value=""/>
    <env name="DB_CHARSET" value="utf8mb4"/>
    <env name="DB_COLLATION" value="utf8mb4_unicode_ci"/>
  </php>

  <logging>
    <log
      type="coverage-html"
      target="Reports/Coverage"
    />
  </logging>
</phpunit>
